<!-- Footer-->
<footer class="footer py-4">
    {% for footer in footers %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 text-lg-start">{{ footer.copyright_text }}</div>
                <div class="col-lg-4 my-3 my-lg-0">
                    <a class="btn btn-dark btn-social mx-2" href="{{ footer.twitter }}" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="{{ footer.facebook }}" aria-label="Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="{{ footer.linkedin }}" aria-label="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                </div>
                <div class="col-lg-4 text-lg-end">
                    <a class="link-dark text-decoration-none me-3" href="{{ footer.privacy_police }}">Privacy Policy</a>
                    <a class="link-dark text-decoration-none" href="{{ footer.tou }}">Terms of Use</a>
                </div>
            </div>
        </div>
    {% endfor %}
</footer>