<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
    {% for main_item in main_items %}
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Services</h2>
            <h3 class="section-subheading text-muted">{{ main_item.services_title }}</h3>
        </div>
    {% endfor %}

            <div class="row text-center">
                {% for service in services %}
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3">{{ service.title }}</h4>
                        <p class="text-muted">{{ service.description }}</p>
                    </div>
                {% endfor %}
            </div>
    </div>
</section>